footer {
    background-color: $primary-color;

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        h2 {
            text-transform: uppercase;
            font-size: $h3-font-size;
            margin-bottom: $common-mb;
        }
    
        a {
            text-transform: capitalize;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: center;
            font-size: 1.3rem;
        }

        .footer-col {
            width: 33.3333%;
    
            &.social {

                a {
                display:inline-block;
                width: 60px; 
                height:60px; 
                line-height: 60px;
                box-sizing: border-box;
                border: solid 3px transparent;
                transition: all 0.3 linear;

      
                    &:hover {
                        border: solid 3px $white;
                        border-radius: 50%; 
                        filter: drop-shadow(0px -5px 5px $primary-color); 
                        }
                }
                display: inline-block;
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 3.5rem;
            

                ul li {
                    display: inline;
                }

                .footer-copyright {
                    text-align: center;
                    margin-top: 2.5rem;
                    color: $white;
                    font-size: 0.9rem;
                }
            }
        }
    }

    }
