html, body {
    font-size: 100%; 
    background-color: $bg-color;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 1200px;
    padding: 100px 0;
    margin-left: auto;
    margin-right: auto ;
}


.no-scroll {
    overflow: hidden;
}


// Line around heading

.heading-pseudo-line {
    &:before {
        left: 17%;
    }

    &:after {
        right: 17%;
    }

    &:after, &:before {
        position: absolute;
        background-color: #00cba9;
        display: inline-block;
        content: " ";
        height: 4px;
        width: 100px;
        top: 50%;
    }
}

// <=========== BANNER SECTION ==========>
.banner-section {

    position: relative;
    height: 100vh;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &--svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .container {
        z-index: 1;

        h1 {
	        -webkit-text-stroke: 2px $title-color;
	        text-stroke: 2px $title-color;
	        -webkit-text-fill-color: transparent;
	        text-fill-color: transparent;
	        color: transparent;
            pointer-events: none;
        }
    }
}

// <=============== ABOUT SECTION =================>
.about-section {
    .container {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &--box {
        height: 500px;
        max-width: calc(33.333% - 15px);
        margin-left: 15px;
        background-color: $dark-bg;
        margin-bottom: $large-mb;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: $oneedge-shadow;

        &--img {  
            height: 60%;
            margin-bottom: 2rem;

            img {
                object-fit: cover;
                -o-object-fit: cover;
                object-position: top;
                width: 100%;
                height: 100%;
            }
        }

        &--textwrapper {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

}

// <=============== ARTICLE SECTION =================>
.article-section {

    .flex-box {
        display: flex;
        align-items: center;
        margin-top: $large-mb;

        &:nth-child(odd) {
            .flex-box--img {
                order: 1;
            }
        }

        &--text {
            padding: 0 50px;
            flex-basis: 50%;
            h3 {
                color: $blue;
                margin-bottom: $common-mb;
            }

            p {
                margin-bottom: $common-mb;
            }
        }

        &--img {

            flex-basis: 50%;
            text-align: center;

            i {
                font-size: 15rem;
                color: $black;

                &:first-child {
                    margin-left: -15px;
                    color: $primary-color;
                }

            }

        }
    }


}


// <=============== TIMELINE SECTION =================>
.timeline-section {

    h2 {
        text-align: center;
        margin-bottom: $large-mb;

        &.heading-pseudo-line {
            &:before {
                left: 30%;
            }
        
            &:after {
                right: 30%;
            }
        }
    }

    .line-to-be-animated {
        background-color: $primary-color;
            height: 0;
            border-radius: 4px;
            width: 6px;
            left: 50%;
            margin-left: -3px;
            filter: drop-shadow(0px -5px 5px $primary-color);
            display: inline-block;
            position: absolute;
    }

    &--inner {
        position: relative;
        height: 100%;
        overflow: auto;
    }

    &--box {
        h3 {
            margin-bottom: $common-mb;
        }

        position: relative;
        max-width: 50%;
    
        &:nth-of-type(even) {
            float: right;
            clear: left;
            .timeline-section--box--img {
                right: 87%;
            }
        }

        &:nth-of-type(odd) {
            clear: right;
            float: left;
            .timeline-section--box--img {
                left: 87%;
            }
        }

        &:last-child {
            float: none;
            .timeline-section--box--img {
                position: static;
                float: right;
                margin-right: -81px;
            }
        }

        &--img {
            position: absolute;
            width: 160px;
            height: 160px;
            overflow: hidden;
            border-radius: 50%;
            border: 4px solid $black;
            transform: scale(0.2);

            img {
                max-width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        &--text {
            padding: 0 120px 200px;
        }
    }
}

