html, body {
    font-size: 100%; 
    background-color: $bg-color;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto ;
}

// BANNER SECTION
.banner-section {
    position: relative;
    height: 100vh;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .container {
        z-index: 1;
        h1 {
	        -webkit-text-stroke: 2px $title-color;
	        text-stroke: 2px $title-color;
	        -webkit-text-fill-color: transparent;
	        text-fill-color: transparent;
	        color: transparent;
	        pointer-events: none;
        }
    }
}

// BANNER SECTION ENDED